* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.flip-card-1-container {
  width: 300px;
  height: 400px;
  perspective: 1000 px;
}

.flip-card-1 {
  width: 100%;
  height: 100%;
  transition: 1s;
  transform-style: preserve-3d;
}

.flip-card-1-container:hover .flip-card-1 {
  transform: rotateX(-180deg);
}

.flip-card-1-front,
.flip-card-1-back {
  position: absolute;
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.flip-card-1-front {
  background-color: #333;
  color: #fff;
}

.flip-card-1-back {
  background-color: #ebcfbf;
  color: #fff;
  transform: rotateX(180deg);
}

.flip-card-1-front img {
  width: 100%;
  height: 100%;
}

.flip-card-1-back span {
  display: block;
  font-size: 2rem;
  margin-top: 1.25rem;
  font-family: europa, sans-serif;
}
